version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./database_json:/var/www/html/database_json
      - ./system:/var/www/html/system
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
    restart: unless-stopped
